<div class="animated fadeIn">
  <div class="row">
  

    <div class="col-sm-1 col-lg-1 pull-right">
      <label>Select Clinic</label>
    </div>
    <div class="col-sm-7 col-lg-7 pull-left">
      <ng-select class="p-0 form-control custom-select" [items]="clinics"   [hideSelected]="true" 
      [(ngModel)]="selectedAttributes"
      bindLabel='name' bindValue='id' 
      placeholder="Select Clinic" (change)="onChangeClinic($event)" >
  </ng-select>
    </div>
    <div class="col-sm-2 col-lg-2">
      <button type="button" class="btn btn-info pull-right"
        (click)="changeToCalendar()">{{ViewButtonText}}</button>
    </div>
    <div class="col-sm-2 col-lg-2 float-right">
      <button type="button" class="btn btn-info float-right" (click)="openModalAppointmentNew()">Add New
        Appointment</button>
    </div>
    <div class="col-sm-12 col-lg-12" *ngIf="tableview">

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Appointment Date</th>
            <th scope="col">ID Type</th>
            <th scope="col">ID Number</th>
            <th scope="col">Appointment Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let appointment of allAppointments; let i = index;">
            <th scope="row">{{ i + 1 }}</th>
            <td>
              {{ appointment.patientName }}
            </td>
            <td>{{ appointment.startDate  }}</td>
            <td>{{ appointment.userId.idType  }}</td>
            <td>{{ appointment.userId.number  }}</td>
            <td>{{ appointment.status  }}</td>
            <td>
              <button type="button" class="btn btn-success" (click)="editAppointment(appointment)"><i
                  class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-danger" (click)="deleteAppointment(appointment)"><i
                  class="fa fa-trash"></i></button>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-12 col-lg-12" *ngIf="!tableview">
<app-appointment-view>

</app-appointment-view>
    </div>



    <!-- <ng-template  #template>
      

      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Appointment</h4>
        <button type="button" class="close pull-right" aria-label="Close"  (click)="modalRef.hide()">
          <span arial-hidden="true">&times;</span>
        </button>

      </div>
      <div class="modal-body" [formGroup]="appointmentEditForm">
        <div class="alert alert-danger" role="alert" *ngIf="alertWarning">
          {{alertMessage}}
      
         </div>
         <div class="alert alert-success" role="alert"  *ngIf="alertSuccess">
          {{alertMessage}}
        </div>
<label> Appointment Date</label>
<input type="text"
class="form-control"
placeholder="DD/MM/YYYY"
class="form-control datepicker"
[bsConfig]="bsConfig"
(bsValueChange)="onchangeAppointmentDate($event)"
bsDatepicker
formControlName="appointmentDate"
>
<label> Appointment TIme</label>

<ng-select class="p-0 form-control "
[items]="availableTimesDropDownList"   [hideSelected]="true" 
placeholder="Select Time"  
formControlName="appointmentTime"
>
</ng-select>


      </div>
      <div class="modal-footer">


  


        <button type="button" class="btn btn-warning pull-left" aria-label="Close"  (click)="modalRef.hide()">
          Cancel
            </button>

        <button type="button"
         class="btn btn-primary pull-right" 
         [disabled]="!appointmentEditForm.valid "
         aria-label="Close"  (click)="onSaveClick">
      Update
        </button>
      </div>
     
      
 

  </ng-template> -->



    <!-- <div class="col-sm-12 col-lg-12">
      <div class="card text-white bg-primary">
        <div class="card-body pb-0">
          <div class="btn-group float-right" dropdown>
            <button type="button" class="btn btn-transparent dropdown-toggle p-0" dropdownToggle>
              <i class="icon-settings"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right" *dropdownMenu>
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
          <div class="text-value">9.823</div>
          <div>Members online</div>
        </div>
     
      </div>
    </div> -->

  </div>
  <!--/.row-->

</div>