// @import "~@ng-select/ng-select/themes/default.theme.css";
// Here you can add other styles
.compulsory {
    color: $pink;
  };
  label {
    color: $light-blue;
    font-weight: 500;
  }
  body {
    position: relative;
  }
  
  $select-height: $input-height-sm;
  ng-select.custom-select {
    @extend .p-0;
    // height: calc($input-height-sm+1) !important;
    // padding: 0 !important;
    height: $select-height !important;
    height: auto;
  }
  
  ng-select.custom-select .ng-select-container {
    min-height: 0px;
    height: calc(#{$select-height} - 2px) !important;
    overflow: visible;
    // height: calc(1.43rem + 2px) !important;
  }
  
  // ng-select.custom-select ng-dropdown-panel{
  //   height: auto;
  //   min-width: 100%;
  //   width: intrinsic !important;           /* Safari/WebKit uses a non-standard name */
  //   width: -moz-max-content !important;    /* Firefox/Gecko */
  //   width: -webkit-max-content !important; /* Chrome */
  // }
  .appointmentsSelect .ng-select .ng-select-container {
    border: display;
  }
  
  .ng-select .ng-select-container {
    border: none;
    border-radius: 0px;
  }
  
  ng-select.ng-select-multiple.custom-select-multiple {
    .ng-select-container {
        min-height: initial !important;
        border: 1px solid #c2cfd6;
        .ng-value-container {
            padding-top: 1px;
            .ng-value {
                margin-bottom: 1px;
            }
            .ng-value+.ng-input {
                width: 0px;
            }
        }
    }
  }
  
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-disabled {
    background-color:white;
  }
  
  ng-select.custom-select-multiple {
    height: auto;
    .ng-select-container {
        height: inherit;
    }
  }
  
  .ng-select.ng-select-disabled>.ng-select-container {
    background-color: #f4f4f4;
  }
  
  .ng-dropdown-panel-items.scrollhost .scrollable-content .ng-option {
    white-space: normal!important;
  }
  
  .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    white-space: normal!important;
  }
  
  .custom-select-small-width>.ng-dropdown-panel {
    height: auto;
    min-width: 100%;
    width: 7vw !important;
    // width: intrinsic !important;           /* Safari/WebKit uses a non-standard name */
    // width: -moz-fit-content !important;    /* Firefox/Gecko */
    // width: -webkit-fit-content !important; /* Chrome */
  }
  
  .custom-select-extra-medium-width>.ng-dropdown-panel {
    height: auto;
    min-width: 100%;
    width: 15vw !important;
    // width: intrinsic !important;           /* Safari/WebKit uses a non-standard name */
    // width: -moz-fit-content !important;    /* Firefox/Gecko */
    // width: -webkit-fit-content !important; /* Chrome */
  }
  
  .custom-select-extra-extra-medium-width>.ng-dropdown-panel {
    height: auto;
    min-width: 100%;
    width: 22vw !important;
    // width: intrinsic !important;           /* Safari/WebKit uses a non-standard name */
    // width: -moz-fit-content !important;    /* Firefox/Gecko */
    // width: -webkit-fit-content !important; /* Chrome */
  }
  
  .custom-select-almost-medium-width>.ng-dropdown-panel {
    height: auto;
    min-width: 100%;
    width: 27vw !important;
    // width: intrinsic !important;           /* Safari/WebKit uses a non-standard name */
    // width: -moz-fit-content !important;    /* Firefox/Gecko */
    // width: -webkit-fit-content !important; /* Chrome */
  }
  
  .custom-select-medium-width>.ng-dropdown-panel {
    height: auto;
    min-width: 100%;
    width: 35vw !important;
    // width: intrinsic !important;           /* Safari/WebKit uses a non-standard name */
    // width: -moz-fit-content !important;    /* Firefox/Gecko */
    // width: -webkit-fit-content !important; /* Chrome */
  }
  
  .custom-select-extra-width>.ng-dropdown-panel {
    height: auto;
    min-width: 100%;
    width: 45vw !important;
    // width: intrinsic !important;           /* Safari/WebKit uses a non-standard name */
    // width: -moz-fit-content !important;    /* Firefox/Gecko */
    // width: -webkit-fit-content !important; /* Chrome */
  }
  
  ng-dropdown-panel.custom-select-extra-width {
    height: auto;
    min-width: 100%;
    width: 45vw !important;
    // width: intrinsic !important;           /* Safari/WebKit uses a non-standard name */
    // width: -moz-fit-content !important;    /* Firefox/Gecko */
    // width: -webkit-fit-content !important; /* Chrome */
  }
  
  .custom-select-extra-large-width>.ng-dropdown-panel {
    height: auto;
    min-width: 100%;
    width: 60vw !important;
  }
  .inventory-count-reason.ng-dropdown-panel{
    left: calc(100% - 24%) !important;
  }
  
  .dropdown-right>.ng-dropdown-panel {
    right: 0;
    left: -5.3rem !important; // Set to 1 so that it will be overriden
  }
  
  .instr-dropdown-right>.ng-dropdown-panel {
    right: 0;
    left: -53rem !important; // Set to 1 so that it will be overriden
  }
  
  .prescr-dropdown-right>.ng-dropdown-panel {
    right: 0;
    left: -8.5rem !important; // Set to 1 so that it will be overriden
  }
  
  // FOR APPEND TO BODY
  .custom-select-extra-large-width.ng-dropdown-panel {
    height: auto;
    min-width: 100%;
    width: 60vw !important;
  }
  
  .custom-select-almost-medium-width.ng-dropdown-panel {
    height: auto;
    min-width: 100%;
    width: 27vw !important;
    // width: intrinsic !important;           /* Safari/WebKit uses a non-standard name */
    // width: -moz-fit-content !important;    /* Firefox/Gecko */
    // width: -webkit-fit-content !important; /* Chrome */
  }
  
  .custom-select-extra-extra-medium-width.ng-dropdown-panel {
    height: auto;
    min-width: 100%;
    width: 22vw !important;
    // width: intrinsic !important;           /* Safari/WebKit uses a non-standard name */
    // width: -moz-fit-content !important;    /* Firefox/Gecko */
    // width: -webkit-fit-content !important; /* Chrome */
  }
  
  .custom-select-almost-medium-width.ng-dropdown-panel.instr-dropdown-right {
    // left:59.5rem!important;
    // width: intrinsic !important;           /* Safari/WebKit uses a non-standard name */
    // width: -moz-fit-content !important;    /* Firefox/Gecko */
    // width: -webkit-fit-content !important; /* Chrome */
    left: auto!important;
    right: 7rem!important
  }
